@model IEnumerable<Bibilioteca_prestamos_EVWEB.Models.Libro>

@{
    ViewBag.Title = "Index";
}


<h1 class="text-center">Lista de Libros</h1>
<div class="mb-2 text-end">
    <a href="/Libro/Create/" class="btn btn-primary">Crear Nuevo Libro</a>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>ISBN</th>
                <th>Editorial</th>
                <th>Autor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.id_Libro</td>
                <td>@item.Titulo</td>
                <td>@item.ISBN</td>
                <td>@item.Editorial.Nombre</td>
                <td>@item.Autor.Nombre</td>
                <td>
                    <a href="/Libro/Edit/@item.id_Libro" class="btn btn-warning">EDITAR</a>
                    <a href="/Libro/Delete/@item.id_Libro" class="btn btn-danger">ELIMINAR</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

